############################## HEADER ##########################################
# Repository's ignore list.
################################################################################



# Ignore repository's general files.
#README*
#LICENSE
#COPYING
#INSTALL
#CONTRIBUTING
#ChangeLog
#.gitignore
#.dockerignore
#Dockerfile
#configure.ac
#configure
#.travis.yml


# Ignore repository's general folders.
#.git/
#config/
#scripts/
#src/
#include/
#lib/
#libexec/
#sub*
bin/
sbin/
share/
autom4te.cache
#manual/
#man/
#doc*
#cloud/
#docker/
#misc/
#templates/
#modules/
#data/
backup/
bkp*
repo*
pack*
dep*
img*
log*
build/
dist/
test/
t/


# Ignore personal keys and tokens.
*.pub
*.pem


# Ignore general doc, building, log, data and timestamp files.
#*.txt
#*.pod
#*.tt
#*.md
#*.rst
#*.tex
#*.bib
*.dvi
*.pdf
*.html
#*.ac
#*.am
#*.in
#*.yml
#*.json
#*.conf
#*.ini
*.swp
*.swo
*~
*.bkp
*.tar.bz2
*.tar.gz
*.tar.xz
*.tbz2
*.tbz
*.tgz
*.tar
*.zip
*.bz2
*.gz
*.xz
*.db
*.perldb
*.csv
#*.tsv
*.dat
#*.data
*.log
*tmp*
*timestamp*

# Ignore code files. (Don't do that!)
#*.sh
#*.mk
#*.l
#*.c
#*.cpp
#*.h
*.[oa]
*.so
#*.pl
#*.pm
#*.t
#*.py
#*.R
#*.r
#*.jar
#*.js
#*.css
#*.dck
#*.aws


# Don't ignore general defaults configuration file.
!*defaults.yml
!*.travis.yml


# Ignore runtime structural folders.
*capsule/
*pocket/
*config/
*inputs/
*outputs/
*assets/
*reference/
*annotation/
*extra/
*tmp/

*outputs/imgs/
*outputs/docs/
*outputs/plots/
*outputs/models/
*outputs/results/
*outputs/templates/
*outputs/timestamps/


# Ignore repository's specific folders and files.
*.fastq
*.fa
*.fai
*.cran
*.sam
*.sai
*.bam
*.bai
*.gtf
*.gff
*.vcf
*.bed
